<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :apellido %><br>
    <%= f.text_field :apellido %>
  </div>
  <div class="field">
    <%= f.label :nombres %><br>
    <%= f.text_field :nombres %>
  </div>
  <div class="field">
    <%= f.label :documento %><br>
    <%= f.text_field :documento %>
  </div>
  <div class="field">
    <%= f.label :tdoc_id %><br>
    <%= f.number_field :tdoc_id %>
  </div>
  <div class="field">
    <%= f.label :iibb %><br>
    <%= f.text_field :iibb %>
  </div>
  <div class="field">
    <%= f.label :tiibb %><br>
    <%= f.number_field :tiibb %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :weblog %><br>
    <%= f.text_field :weblog %>
  </div>
  <div class="field">
    <%= f.label :contacto %><br>
    <%= f.text_field :contacto %>
  </div>
  <div class="field">
    <%= f.label :ciiu_id %><br>
    <%= f.number_field :ciiu_id %>
  </div>
  <div class="field">
    <%= f.label :tcliente_id %><br>
    <%= f.number_field :tcliente_id %>
  </div>
  <div class="field">
    <%= f.label :direccion_id %><br>
    <%= f.number_field :direccion_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
