<p id="notice"><%= notice %></p>

<p>
  <strong>Apellido:</strong>
  <%= @cliente.apellido %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @cliente.nombres %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @cliente.documento %>
</p>

<p>
  <strong>Tdoc:</strong>
  <%= @cliente.tdoc_id %>
</p>

<p>
  <strong>Iibb:</strong>
  <%= @cliente.iibb %>
</p>

<p>
  <strong>Tiibb:</strong>
  <%= @cliente.tiibb %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @cliente.telefono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cliente.email %>
</p>

<p>
  <strong>Weblog:</strong>
  <%= @cliente.weblog %>
</p>

<p>
  <strong>Contacto:</strong>
  <%= @cliente.contacto %>
</p>

<p>
  <strong>Ciiu:</strong>
  <%= @cliente.ciiu_id %>
</p>

<p>
  <strong>Tcliente:</strong>
  <%= @cliente.tcliente_id %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @cliente.direccion_id %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
