<p id="notice"><%= notice %></p>

<p>
  <strong>Contrato:</strong>
  <%= @contratofact.contrato_id %>
</p>

<p>
  <strong>Factura:</strong>
  <%= @contratofact.factura_id %>
</p>

<p>
  <strong>Cuenta:</strong>
  <%= @contratofact.cuenta_id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @contratofact.nombre %>
</p>

<p>
  <strong>Tcuit:</strong>
  <%= @contratofact.tcuit_id %>
</p>

<p>
  <strong>Iibb:</strong>
  <%= @contratofact.iibb %>
</p>

<p>
  <strong>Tiibb:</strong>
  <%= @contratofact.tiibb_id %>
</p>

<p>
  <strong>Tperfact:</strong>
  <%= @contratofact.tperfact_id %>
</p>

<p>
  <strong>Econtrato:</strong>
  <%= @contratofact.econtrato_id %>
</p>

<%= link_to 'Edit', edit_contratofact_path(@contratofact) %> |
<%= link_to 'Back', contratofacts_path %>
