<h1>Listing otrocargofacts</h1>

<table>
  <thead>
    <tr>
      <th>Otrocargo</th>
      <th>Factura</th>
      <th>Edesal</th>
      <th>Concepto</th>
      <th>Importe</th>
      <th>Ffactura</th>
      <th>Ecargo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @otrocargofacts.each do |otrocargofact| %>
      <tr>
        <td><%= otrocargofact.otrocargo_id %></td>
        <td><%= otrocargofact.factura_id %></td>
        <td><%= otrocargofact.edesal_id %></td>
        <td><%= otrocargofact.concepto_id %></td>
        <td><%= otrocargofact.importe %></td>
        <td><%= otrocargofact.ffactura %></td>
        <td><%= otrocargofact.ecargo_id %></td>
        <td><%= link_to 'Show', otrocargofact %></td>
        <td><%= link_to 'Edit', edit_otrocargofact_path(otrocargofact) %></td>
        <td><%= link_to 'Destroy', otrocargofact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Otrocargofact', new_otrocargofact_path %>
