<p id="notice"><%= notice %></p>

<p>
  <strong>Otrocargo:</strong>
  <%= @otrocargofact.otrocargo_id %>
</p>

<p>
  <strong>Factura:</strong>
  <%= @otrocargofact.factura_id %>
</p>

<p>
  <strong>Edesal:</strong>
  <%= @otrocargofact.edesal_id %>
</p>

<p>
  <strong>Concepto:</strong>
  <%= @otrocargofact.concepto_id %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @otrocargofact.importe %>
</p>

<p>
  <strong>Ffactura:</strong>
  <%= @otrocargofact.ffactura %>
</p>

<p>
  <strong>Ecargo:</strong>
  <%= @otrocargofact.ecargo_id %>
</p>

<%= link_to 'Edit', edit_otrocargofact_path(@otrocargofact) %> |
<%= link_to 'Back', otrocargofacts_path %>
