<p id="notice"><%= notice %></p>

<p>
  <strong>Suministro:</strong>
  <%= @medidor.suministro_id %>
</p>

<p>
  <strong>Tmedidor:</strong>
  <%= @medidor.tmedidor_id %>
</p>

<p>
  <strong>Nromedidor:</strong>
  <%= @medidor.nromedidor %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @medidor.marca_id %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @medidor.modelo %>
</p>

<p>
  <strong>Corriente:</strong>
  <%= @medidor.corriente %>
</p>

<p>
  <strong>Ttension:</strong>
  <%= @medidor.ttension_id %>
</p>

<p>
  <strong>Tfase:</strong>
  <%= @medidor.tfase_id %>
</p>

<p>
  <strong>Cteapa:</strong>
  <%= @medidor.cteapa %>
</p>

<p>
  <strong>Ffabric:</strong>
  <%= @medidor.ffabric %>
</p>

<p>
  <strong>Cperds:</strong>
  <%= @medidor.cperds %>
</p>

<%= link_to 'Edit', edit_medidor_path(@medidor) %> |
<%= link_to 'Back', medidors_path %>
