<h1>Listing suministros</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Edesal</th>
      <th>Tmedicion</th>
      <th>Tconexion</th>
      <th>Ttension</th>
      <th>Tfase</th>
      <th>Direccion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suministros.each do |suministro| %>
      <tr>
        <td><%= suministro.nombre %></td>
        <td><%= suministro.edesal_id %></td>
        <td><%= suministro.tmedicion_id %></td>
        <td><%= suministro.tconexion_id %></td>
        <td><%= suministro.ttension_id %></td>
        <td><%= suministro.tfase_id %></td>
        <td><%= suministro.direccion_id %></td>
        <td><%= link_to 'Show', suministro %></td>
        <td><%= link_to 'Edit', edit_suministro_path(suministro) %></td>
        <td><%= link_to 'Destroy', suministro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Suministro', new_suministro_path %>
