<%= form_for(@bonificacionfact) do |f| %>
  <% if @bonificacionfact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bonificacionfact.errors.count, "error") %> prohibited this bonificacionfact from being saved:</h2>

      <ul>
      <% @bonificacionfact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bonificacion_id %><br>
    <%= f.number_field :bonificacion_id %>
  </div>
  <div class="field">
    <%= f.label :factura_id %><br>
    <%= f.number_field :factura_id %>
  </div>
  <div class="field">
    <%= f.label :edesal_id %><br>
    <%= f.number_field :edesal_id %>
  </div>
  <div class="field">
    <%= f.label :linea %><br>
    <%= f.number_field :linea %>
  </div>
  <div class="field">
    <%= f.label :porcentaje %><br>
    <%= f.text_field :porcentaje %>
  </div>
  <div class="field">
    <%= f.label :fdesde %><br>
    <%= f.date_select :fdesde %>
  </div>
  <div class="field">
    <%= f.label :fhasta %><br>
    <%= f.date_select :fhasta %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
