<p id="notice"><%= notice %></p>

<p>
  <strong>Lectura:</strong>
  <%= @lecturafact.lectura_id %>
</p>

<p>
  <strong>Factura:</strong>
  <%= @lecturafact.factura_id %>
</p>

<p>
  <strong>Medidor:</strong>
  <%= @lecturafact.medidor_id %>
</p>

<p>
  <strong>Tlectura:</strong>
  <%= @lecturafact.tlectura_id %>
</p>

<p>
  <strong>Flectura:</strong>
  <%= @lecturafact.flectura %>
</p>

<p>
  <strong>Tconsumo:</strong>
  <%= @lecturafact.tconsumo_id %>
</p>

<p>
  <strong>Lectura:</strong>
  <%= @lecturafact.lectura %>
</p>

<p>
  <strong>Ctelect:</strong>
  <%= @lecturafact.ctelect %>
</p>

<p>
  <strong>Consumo:</strong>
  <%= @lecturafact.consumo %>
</p>

<%= link_to 'Edit', edit_lecturafact_path(@lecturafact) %> |
<%= link_to 'Back', lecturafacts_path %>
