<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @cuenta.cliente_id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @cuenta.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @cuenta.direccion_id %>
</p>

<p>
  <strong>Tpago:</strong>
  <%= @cuenta.tpago_id %>
</p>

<p>
  <strong>Timpagado:</strong>
  <%= @cuenta.timpagado_id %>
</p>

<p>
  <strong>Tvencimiento:</strong>
  <%= @cuenta.tvencimiento_id %>
</p>

<%= link_to 'Edit', edit_cuenta_path(@cuenta) %> |
<%= link_to 'Back', cuentas_path %>
