<p id="notice"><%= notice %></p>

<p>
  <strong>Edesal:</strong>
  <%= @edesalfact.edesal_id %>
</p>

<p>
  <strong>Factura:</strong>
  <%= @edesalfact.factura_id %>
</p>

<p>
  <strong>Contratofact:</strong>
  <%= @edesalfact.contratofact_id %>
</p>

<p>
  <strong>Tarifa:</strong>
  <%= @edesalfact.tarifa_id %>
</p>

<p>
  <strong>Potvigente:</strong>
  <%= @edesalfact.potvigente %>
</p>

<p>
  <strong>Fpotvigente:</strong>
  <%= @edesalfact.fpotvigente %>
</p>

<p>
  <strong>Potoriginal:</strong>
  <%= @edesalfact.potoriginal %>
</p>

<p>
  <strong>Fpotoriginal:</strong>
  <%= @edesalfact.fpotoriginal %>
</p>

<p>
  <strong>Fdetectbadcosfi:</strong>
  <%= @edesalfact.fdetectbadcosfi %>
</p>

<p>
  <strong>Csmofijo:</strong>
  <%= @edesalfact.csmofijo %>
</p>

<p>
  <strong>Eservicio:</strong>
  <%= @edesalfact.eservicio %>
</p>

<%= link_to 'Edit', edit_edesalfact_path(@edesalfact) %> |
<%= link_to 'Back', edesalfacts_path %>
